<html>
    <head>
        <meta charset="utf-8">
        <title>Candidat</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/locale/fr.js"></script>

    </head>
    <body>
        <div id="page">
            <div id="top_bar">
                <div id="home_button">
                    <a href="/auth/login"><button id="menu">Menu</button></a>
                </div>
                <div id="recr">
                    <a href="/candidat/devenir_recruteur"><button id="recruteur">Devenir recruteur</button></a>
                </div>
                <div id="account">
                    <a href="/users/mes_candidatures"><button id="cand">Mes candidatures</button></a>
                    <a href="/users/mon_compte"><button id="account">Mon compte</button></a>
                </div>
            </div>
    
            <div id="container">
                <div id="offers">
                    <div id="label">
                        <label for="candidat">Espace Candidat</label>
                    </div>
                    <% offres.forEach((offre)=> { %>
                        <div id="off">
                            <div id="off_img">
                                <img src="/uploads/<%=offre.logo%>" alt="Logo de l'entreprise">
                            </div>
                            <div class="entreprise">
                                <h1><%= offre.nom%></h1>
                                <p>Siren : <%= offre.siren%></p>
                                <p>Ville : <%=offre.ville%></p>
                                <p>Numéro de fiche de poste : <%= offre.id_fiche %></p>
                                <p>Numéro de l'offre : <%= offre.num%></p>
                            </div>
                            <div class="desc">
                                <p><%= offre.type + ' - ' + offre.intitule%></p>
                                <p><%= offre.description%></p>
                                <p id="datetime"><%= offre.date_validite%></p>
                                <p id="date_hidden" style="display: none;"><%= offre.date_validite%></p>
                            </div>
                            
                            <div class="offer_button">
                                <button onclick="openOffre(this)">Plus d'infos</button>
                            </div>
                        </div>
                    <% }) %>
                </div>
    
                <div id="box">
                    <div id="toolbox">
                        <div id="search">
                            <div id="label">
                                <label for="post_search">Rechercher par poste</label> <br>
                            </div>
                            <div id="input_search">
                                <input type="text" id="post_search" name="post_search" placeholder="Rechercher..." required>
                            </div>
                            <div id="label">
                                <label for="locate_search">Rechercher par ville</label> <br>
                            </div>
                            <div id="input_search">
                                <input type="text" id="locate_search" name="locate_search" placeholder="Paris, ..." required>
                            </div>
                        </div>
                        <!--
                        <div id="label">
                                <label for="sort">Trier</label>
                        </div>
                        <select name="date" id="date">
                            <option value="" disabled selected hidden>Date</option>
                            <option value="recent">Récent</option>
                            <option value="ancien">Ancien</option>
                        </select>

                        <select name="date" id="distance">
                            <option value="" disabled selected hidden>Distance</option>
                            <option value="recent">X</option>
                            <option value="ancien">Y</option>
                        </select>
                        -->
                        <div id="label">
                            <label for="filter">Filtrer par salaire</label>
                        </div>
                        <div id="input_search">
                            <input type="number" id="salaire_min" name="salaire_min" placeholder="Salaire minimum">
                        </div>
                        <div id="input_search">
                            <input type="checkbox" id="notValide" name="notValide">
                            <p>Afficher également les offres expirées</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                formatDates();
                filterExpiredOffers();
            });
            function openOffre(button) {
                var offreDiv = button.closest('#off');
                var idCandidatureElement = offreDiv.querySelector('.entreprise > p:last-child');
                var idCandidatureText = idCandidatureElement.textContent.trim();
                var num = idCandidatureText.split("Numéro de l'offre : ")[1];
                window.location.href = `/candidat/voir-offre/${num}`;
            };

            let post_search = document.querySelector('#post_search');
            post_search.addEventListener("keydown", (event) => {
                if(event.key === "Enter") {
                    let text = post_search.value;
                    if(text === ''){
                        window.location.href = `/candidat/candidat_main`;
                    }
                    else {
                        console.log(text);
                        window.location.href = `/candidat/search/${text}`;
                    }
                }
            });

            let locate_search = document.querySelector('#locate_search');
            locate_search.addEventListener("keydown", (event) => {
                if(event.key === "Enter") {
                    let text = locate_search.value;
                    if(text === ''){
                        window.location.href = `/candidat/candidat_main`;
                    }
                    else {
                        console.log(text);
                        window.location.href = `/candidat/localisation/${text}`;
                    }
                }
            });


            let salaireMin = document.querySelector('#salaire_min');
            salaireMin.addEventListener("keydown", (event) => {
                if(event.key === "Enter") {
                    let text = salaireMin.value;
                    if(text === ''){
                        window.location.href = `/candidat/candidat_main`;
                    }
                    else {
                        console.log(text);
                        window.location.href = `/candidat/salaire_min/${text}`;
                    }
                }
            });

            
            

            let notValide = document.querySelector('#notValide');
            notValide.addEventListener('change', (event) => {
                filterExpiredOffers();
            });

            function filterExpiredOffers() {
            const dateElements = document.querySelectorAll('#date_hidden');
            dateElements.forEach(element => {
                const datetimeString = element.textContent.trim();
                const currentDate = moment();
                const offerDate = moment(datetimeString);
                if (notValide.checked) {
                    // Si la case à cocher est cochée, afficher toutes les offres, y compris les expirées
                    element.parentElement.parentElement.style.display = '';
                } else {
                    // Sinon, masquer les offres expirées
                    if (offerDate.isBefore(currentDate, 'day')) {
                        element.parentElement.parentElement.style.display = 'none';
                    }
                }
            });
}

            function formatDates() {
                moment.locale('fr');
                const dateElements = document.querySelectorAll('#datetime');
                console.log(dateElements)
                dateElements.forEach(element => {
                    console.log(element)
                    const datetimeString = element.textContent.trim();
                    const formattedDate = moment(datetimeString).format('LLLL');
                    element.textContent = formattedDate;
                });
            }

            
        </script>
    </body>
</html>