<html>
    <head>
        <meta charset="utf-8">
        <title>Mes Candidatures</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div id="page">
            <div id="top_bar">
                <div id="home_button">
                    <a href="/candidat/candidat_main"><button id="menu">Menu</button></a>                
                </div>
                <div id="account">
                    <a href="/candidat/candidat_account"><button id="account">Mon compte</button></a>
                </div>
            </div>
    
            <div id="container">
                <div id="offers">
                    <div id="label">
                        <label for="candidat">Mes candidatures</label>
                    </div>
                    <% offres.forEach((offre)=> { %>
                    <div id="off" data-num="<%= offre.num %>">
                        <div id="off_img">
                            <img src="../LOGO-META.webp" alt="Logo de l'entreprise">
                        </div>
                        <div class="entreprise">
                            <h1><%= offre.nom%></h1>
                            <p>Siren : <%= offre.siren%></p>
                            <p>ID Candidature : <%= offre.id_c%></p>
                            <p>Numéro de l'offre : <%= offre.num%></p>
                        </div>
                        <div class="desc">
                            <p><%= offre.type + ' - ' + offre.statut%></p>
                            <p><%= offre.description%></p>
                        </div>
                        <div class="offer_button">
                            <button onclick="modifCand(this)">Modifier</button>
                            <!-- <button onclick="supprCand(this)">Supprimer</button> -->
                            <button onclick="supprCand(this)">Supprimer</button>
                            <!-- <a href="/candidat/verif_suppr"><button>Supprimer</button></a> -->
                            
                        </div>
                        
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <script>
            function modifCand(button) {
                var offreDiv = button.closest('#off');
                var idCandidatureElement = offreDiv.querySelector('.entreprise > p:nth-child(3)');
                var idCandidatureText = idCandidatureElement.textContent.trim();
                var id_c = idCandidatureText.split('ID Candidature : ')[1];
                var offreNum = offreDiv.getAttribute('data-num');
                console.log(`/candidat/modif-cand/${id_c}`);
                window.location.href = `/candidat/modif-cand/${id_c}/${offreNum}`;
            };

            // function supprCand(button) {
            //     var offreDiv = button.closest('#off');
            //     var idCandidatureElement = offreDiv.querySelector('.entreprise > p:last-child');
            //     var idCandidatureText = idCandidatureElement.textContent.trim();
            //     var id_c = idCandidatureText.split('ID Candidature : ')[1];
            //     console.log(`/candidat/suppression_candidature/${id_c}`);
            //     window.location.href = `/candidat/suppression_candidature/${id_c}`;
            // }

            function supprCand(button) {
                var offreDiv = button.closest('#off');
                var idCandidatureElement = offreDiv.querySelector('.entreprise > p:nth-child(3)');
                var idCandidatureText = idCandidatureElement.textContent.trim();
                var id_c = idCandidatureText.split('ID Candidature : ')[1];
                console.log(`/candidat/verif_suppr/${id_c}`);
                window.location.href = `/candidat/verif_suppr/${id_c}`;
            }
        </script>
    </body>
</html>