<html>
    <head>
        <meta charset="utf-8">
        <title>Candidat</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div id="page">
            <div id="top_bar">
                <div id="home_button">
                    <a href="/candidat/candidat_main"><button id="menu">Menu</button></a>
                </div>
                <div id="recr">
                    <a href="/candidat/new_recr"><button id="recruteur">Devenir recruteur</button></a>
                </div>
                <div id="account">
                    <a href="/candidat/mes_candidatures"><button id="cand">Mes candidatures</button></a>
                    <a href="/candidat/candidat_account"><button id="account">Mon compte</button></a>
                </div>
            </div>
    
            <div id="container">
                <div id="offers">
                    <div id="label">
                        <label for="candidat">Espace Candidat</label>
                    </div>
                    <% offres.forEach((offre)=> { %>
                        <div id="off">
                            <div id="off_img">
                                <img src="../LOGO-META.webp" alt="Logo de l'entreprise">
                            </div>
                            <div class="entreprise">
                                <h1><%= offre.nom%></h1>
                                <p>Siren : <%= offre.siren%></p>
                                <p>Numéro de fiche de poste : <%= offre.id_fiche %></p>
                            </div>
                            <div class="desc">
                                <p><%= offre.type + ' - ' + offre.intitule%></p>
                                <p><%= offre.description%></p>
                            </div>
                            
                            <div class="offer_button">
                                <button onclick="openOffre(this)">Plus d'infos</button>
                            </div>
                        </div>
                    <% }) %>
                    
                    <div class="pagination">
                        <a href="#" class="prev">&laquo; Previous</a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#" class="next">Next &raquo;</a>
                    </div>

                </div>
    
                <div id="box">
                    <div id="toolbox">
                        <div id="search">
                            <div id="label">
                                <label for="post_search">Rechercher par poste</label> <br>
                            </div>
                            <div id="input_search">
                                <input type="text" id="post_search" name="post_search" placeholder="Rechercher..." required>
                            </div>
                            <div id="label">
                                <label for="locate_search">Rechercher par ville</label> <br>
                            </div>
                            <div id="input_search">
                                <input type="text" id="locate_search" name="locate_search" placeholder="Paris, ..." required>
                            </div>
                        </div>
                        <!--
                        <div id="label">
                                <label for="sort">Trier</label>
                        </div>
                        <select name="date" id="date">
                            <option value="" disabled selected hidden>Date</option>
                            <option value="recent">Récent</option>
                            <option value="ancien">Ancien</option>
                        </select>

                        <select name="date" id="distance">
                            <option value="" disabled selected hidden>Distance</option>
                            <option value="recent">X</option>
                            <option value="ancien">Y</option>
                        </select>
                        -->
                        <div id="label">
                            <label for="filter">Filtrer par salaire</label>
                        </div>
                        <div id="input_search">
                            <input type="number" id="salaire_min" name="salaire_min" placeholder="Salaire minimum">
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

        <script>
            function openOffre(button) {
                var offreDiv = button.closest('#off');
                var idCandidatureElement = offreDiv.querySelector('.entreprise > p:last-child');
                var idCandidatureText = idCandidatureElement.textContent.trim();
                var id_fiche = idCandidatureText.split('Numéro de fiche de poste : ')[1];
                console.log(`/candidat/voir-offre/${id_fiche}`);
                window.location.href = `/candidat/voir-offre/${id_fiche}`;
            };

            let post_search = document.querySelector('#post_search');
            post_search.addEventListener("keydown", (event) => {
                if(event.key === "Enter") {
                    let text = post_search.value;
                    if(text === ''){
                        window.location.href = `/candidat/candidat_main`;
                    }
                    else {
                        console.log(text);
                        window.location.href = `/candidat/search/${text}`;
                    }
                }
            });

            let locate_search = document.querySelector('#locate_search');
            locate_search.addEventListener("keydown", (event) => {
                if(event.key === "Enter") {
                    let text = locate_search.value;
                    if(text === ''){
                        window.location.href = `/candidat/candidat_main`;
                    }
                    else {
                        console.log(text);
                        window.location.href = `/candidat/localisation/${text}`;
                    }
                }
            });


            let salaireMin = document.querySelector('#salaire_min');
            salaireMin.addEventListener("keydown", (event) => {
                if(event.key === "Enter") {
                    let text = salaireMin.value;
                    if(text === ''){
                        window.location.href = `/candidat/candidat_main`;
                    }
                    else {
                        console.log(text);
                        window.location.href = `/candidat/salaire_min/${text}`;
                    }
                }
            });
            

            //console.log(t_search);
        </script>
    </body>
</html>