<html>
    <head>
        <meta charset="utf-8">
        <title>Recruteur Offre</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div id="page">
            <div id="top_bar">
                <div id="home_button">
                    <a href="/recruteur/recruteur_main"><button id="menu">Menu</button></a>
                </div>
                <div id="account">
                    <a href="/recruteur/recruteur_account"><button id="account">Mon compte</button></a>
                </div>
            </div>
            <div class="container_val">
                <div class="desc_offre">
                    <div class="entreprise">
                        <h1><%= offre.nom %></h1>
                        <p>Numéro de Siren : <%= offre.siren %></p>
                        <p>Numéro de fiche de poste : <%= offre.id_fiche %></p>
                    </div>
                    <div class="description">
                        <p>Type de l'entreprise : <%= offre.type %></p>
                        <p>Intitulé du poste : <%= offre.intitule %></p>
                        <p>Statut : <%= offre.statut %></p>
                        <p>Descirption du poste : <%= offre.description %></p>
                        <p>Indications : <%= offre.indications %></p>
                        <p>Rythme de travail : <%= offre.rythme_travail %></p>
                        <p>Télétravail : <%= offre.teletravail %></p>
                        <p>Salaire : <%= offre.salaire_min %> - <%= offre.salaire_max %></p>
                        <p></p>
                    </div>
                    <div class="offer_button">
                        <button onclick="candidater(this)">Candidater</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function candidater(button) {
                var offreDiv = button.closest('.desc_offre');
                var idCandidatureElement = offreDiv.querySelector('.entreprise > p:last-child');
                var idCandidatureText = idCandidatureElement.textContent.trim();
                var id_fiche = idCandidatureText.split('Numéro de fiche de poste : ')[1];
                console.log(`/recruteur/candidater/${id_fiche}`);
                window.location.href = `/recruteur/candidater/${id_fiche}/<%= offre.num %>`;
            };
        </script>
    </body>
</html>